In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('mail_data.csv')

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
mail_data=df.where((pd.notnull(df)),'')

In [5]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
mail_data.shape

(5572, 2)

In [7]:
#label spam mail as 0 and ham mail as 1
mail_data.loc[mail_data['Category'] == 'spam','Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham','Category',] = 1

In [8]:
#seprating the data as text and label
x=mail_data['Message']
y=mail_data['Category']

In [9]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [10]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [12]:
x_train.shape

(4457,)

In [13]:
x_test.shape

(1115,)

In [14]:
#feature extraction
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)

y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [15]:
x_train_features

<4457x7431 sparse matrix of type '<class 'numpy.float64'>'
	with 34775 stored elements in Compressed Sparse Row format>

In [16]:
model=LogisticRegression()

In [17]:
model.fit(x_train_features,y_train)

LogisticRegression()

In [18]:
pred_on_traindata=model.predict(x_train_features)
accu_on_traindata=accuracy_score(y_train,pred_on_traindata)

In [19]:
accu_on_traindata

0.9670181736594121

In [20]:
pred_on_testdata=model.predict(x_test_features)
accu_on_testdata=accuracy_score(y_test,pred_on_testdata)

In [21]:
accu_on_testdata

0.9659192825112107

In [22]:
input_mail=["WHO ARE YOU SEEING?"]
inpt_data_feat=feature_extraction.transform(input_mail)
prediction=model.predict(inpt_data_feat)

print(prediction)

if prediction[0]==1:
    print("Ham mail")
else:
    print("Spam mail")

[1]
Ham mail

In [23]:
input_mail=["Please call our customer service representative on 0800 169 6031 between 10am-9pm as you have WON a guaranteed Â£1000 cash or Â£5000 prize!"]
inpt_data_feat=feature_extraction.transform(input_mail)
prediction=model.predict(inpt_data_feat)

print(prediction)

if prediction[0]==1:
    print("Ham mail")
else:
    print("Spam mail")

[0]
Spam mail